@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

* {
    --white: #FFFFFF;
    --gray-light: #bbbbbb;
    --gray-medium: #888888;
    --gray-hard: #292929;
    --black: #000000;

    font-family: 'Sarala', sans-serif;
    margin: 0;
    padding: 0;

    color: var(--white);
}

.hidden {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;
}

.display {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    touch-action: none;
}

.question,
.reponse_1,
.reponse_2,
.reponse_3,
.reponse_4,
.reponses_list,
.reponse_image,
.reponse_textblock,
.reponse_simple {
    margin: 2rem 1.5rem 0rem 1.5rem
}

.reponse_1,
.reponse_2,
.reponse_3,
.reponse_4 {
    margin: .5rem 1.5rem .5rem 1.5rem
}


.question {
    font-size: 1.3rem;
    line-height: 1.5;
    border-style: solid;
    border-width: 5px;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.reponse_simple {
    text-align: center;
    font-size: 200%;
}

.reponse_image {
    align-self: center;
    width: 50vw;
}

.helper {
    display: flex;
    position: absolute;
    bottom: 0;
    align-self: center;
    height: 15vh;
    width: 90vw;
    flex-direction: row;
    justify-content: space-evenly;

}

button {
    width: 25vw;
    height: 10vh;
    background-color: var(--black);
    border-style: solid;
    border-width: 5px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 250%;
    line-height: 0;
}

button:active {
    background-color: var(--gray-light);
}